:root{
  /*      CSS Variables      */
  /*      Color Scheme       */
  --accent:         #00C9A6;
  --dark-navy:      #313160;
  --font-base:      #A4A5A6;
  --font-dark:      #101010;
  --font-subheading:#505050;
  --gradient-dark:  #bfc9d3;
  --gradient-mid:   #EEF2F6;
  --light-blue:     #f6f6ff;
  --link:           #4787FF;
  --main-bg:        #FFFFFF;
  --primary:        #377DFF;
  --shadow:         #999999;
  --shadow-light:   #ACACAC;


  --desktop-width: 1024px;
  --tablet-width:   768px;
  --mobile-width:   375px;

  --page-width: calc(calc(100vw - var(--desktop-width)) / 2);
  --background-width: 100vw;
}

 
body{
  background-color: var(--main-bg);
}

/**/
.container{
  display:block;
  margin:auto;
  padding-bottom: 150px;
}

/**/
header.container{
  display:block;
  position:sticky;
  
  top:0;
  left:0;
  right:0;
  padding:5px 0 10px;
}

/**/
h1, h2, h3, h4, h5, h6, a, p, span, textarea{
  font-family: 'Open Sans', sans-serif;
}

/**/
h1{
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

/**/
.container div h2:nth-child(1){
  font-size: 36px;
  font-weight: 550;
  margin:0;
}

/**/
h3{
  margin: 5px 0;
  font-weight: 550;
}

/**/
h4{
  font-size: 16px;
  font-weight: 600;
}

/**/
h5{
  text-align: center;
  color:var(--font-base);
}

/**/
.container div h2,
.container div p:nth-child(2){
  text-align: center;
}

/**/
.container div p:nth-child(2){
  color:var(--font-subheading);
  font-size: 14px;
  margin-bottom: 60px;
}

/**/
.fine-print{
  font-size: 10px;
  color:#A4A5A6;
}

/**/
.card-logo{
  height: 50px;
  width: 50px;
}

/**/
a{
  text-decoration: none;
  color: var(--font-base)
}

/**/
.fa-solid{
  font-size: 12px;
}

/**/
.btn{
  border: 1px solid transparent;
  text-align: center;
  padding: 10px 10px;
  border-radius: 24px;
  background-color: var(--primary);
}

/**/
.btn a{
  color:#FDFEFF
}

/**/
li{
  list-style: none;
}

/**/
.push-right{
  margin-left:auto;
}

/**/
.desc-tag{
  margin-left: 8px;
  padding: 4px 10px;
  font-size: 14px;
  border-radius: 16px;
  font-weight: 600;
}

/**/
.link-lm{
  color: var(--primary);
}

.shadow{
  box-shadow: -10px 10px 40px 10px var(--shadow-light);
}