@media screen and (min-width: 1200px){
  .container{
    max-width: var(--responsive-max-width);
  }

  header.container,
  footer{
    max-width:initial;
    padding: 5px var(--page-width);
  }
}

@media screen and (max-width: 1200px){
  .container{
    box-sizing: border-box;
    width: 967px;
  }
}