@media screen and (min-width: 1024px){
  .container{
    max-width: var(--desktop-width);
  }

  header nav i.fa-bars{
    display: none;
  }

  section#hire-us.container{
    max-width: var(--background-width);
  }

  section#hire-us.container div.hire-us{
    max-width: var(--desktop-width);
    margin: auto;
  }


  header.container,
  footer{
    max-width:initial;
    padding: 5px var(--page-width);
  }
}

@media screen and (max-width: 1023px){
  .container{
    max-width: 568px;
    padding-bottom: 50px;
  }

  hr{
    max-width: var(--tablet-content-width);
  }

  .fine-print{
    font-size: 13px;
  }

  header.container{
    position: initial;
    margin-bottom: 30px;
  }
  
  .header-demo{
    display:none;
  }

  body .grad-background{
    background: conic-gradient(from 82deg at 5% 90%, var(--main-bg)30%, var(--gradient-mid));
  }

  .nav-directory{
    display:none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    align-items: center;
    right: 220px;
    top: 40px;
    padding: 20px 30px;
    background-color: var(--main-bg);
    border-radius: 5px;
    box-shadow: -10px 10px 40px 10px var(--shadow-light);
  }

  .dir-item{
    padding: 0;
  }

  .nav-directory li.btn{
    margin: 0;
  }

  header nav i.fa-bars{
    display: block;
    font-size: 18px;
  }

  header nav{
    justify-content: space-between;
    align-items: center;
  }

  section#showcase.container{
    padding-bottom: 0;
  }

  .showcase{
    grid-template-columns: initial;
    gap: 50px;
  }

  .intro-icons{
    padding-bottom: 40px;
    padding-left: 0;
  }

  .intro-icons .intro-icon-wrapper:nth-child(1){
    position:relative;
    right: 60px;
    
  }
  .intro-icons .intro-icon-wrapper:nth-child(2){
    right: 100px;
  }
  
  .intro-icons .intro-icon-wrapper:nth-child(3){
    right: 80px;
  }
  
  .intro-icons .intro-icon-wrapper:nth-child(4){
    position: relative;
    right: 65px;
    top: 30px;
  }
  
  .intro-icons .intro-icon-wrapper:nth-child(5){
    left: initial;
    right: 30px;
    top: 30px;
  }

  .intro-icons .tab-hide{
    display:none;
  }

  .benefit-card-group{
    gap: 30px;
  }

  .benefit-card h3{
    margin-top: 24px;
    font-size: 24px;
  }
  
  .benefit-card p{
    margin-bottom: 60px;
    font-size: 18px;
  }

  .perspectives{
    flex-direction: column;
    gap: 75px;
    padding: 40px 30px 0px;
  }

  .perspective-info{
    padding:0;
  }
  
  .perspectives img{
    max-width: calc(var(--tablet-content-width) - 60px);
    align-self: center;
  }

  .container div.why-front p{
    padding: 0;
    font-size: 18px;
  }

  .why-icon-layout{
    flex-direction: column;
    align-items: flex-start;
  }

  .why-icon-wrapper{
    flex-direction: row;
  }

  .connector{
    width: initial;
    border-left: 2px solid var(--light-blue);
    bottom: initial;
    height: 10px;
    left: 24px;
  }

  .why-front img{
    max-width: var(--tablet-content-width)
  }

  section#why-front.container{
    padding-bottom:50px;
  }

  .tes-1{
    flex-direction:column;
    gap:0;
    padding: 0;
  }

  .tes-1-img img:nth-child(1) {
    width: 569px;
    left: initial;
    bottom: initial;
  }
  .tes-1-img img:nth-child(2){
    position:relative;
    left: initial;
    right: 50px;
    bottom: 360px;
    max-width: 220px;
  }

  .tes-1-img-wrapper{
    max-height: 730px;
  }

  .tes-1-content{
    padding: 0 10px;
    margin-bottom: 40px;
  }

  .tes-1 div.tes-1-content p:nth-child(2){
    padding-right: 10px;
    word-spacing: 10px;
    padding-right: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .tes-logo-wrapper{
    padding-top: 40px;
    flex-direction: row-reverse;
  }

  .tablet-hide{
    display:none;
  }

  .airbnb{
    order: 1;
  }

  section#testimonial.container{
    margin-bottom: 20px;
  }

  section#pricing.container{
    margin-top: 75px;
  }

  /* Pricing Section */
  .price-card{
    grid-column: 1 / 10;
  }

  /* Hire Us Section */
  section#hire-us.container{
    max-width: 100%;
    margin-bottom: 75px;
  }

  .hire-us{
    flex-direction: column;
    padding: 40px 20px;
    gap: 60px;
  }

  .hire-us-header{
    padding: 0 0 0 0;
  }

  .hire-us hr{
    max-width: 300px;
  }

  div.hire-us div.hire-us-header p {
    padding-right: 40px;
  }

  .hire-us-form{
    padding: 20px;
  }

  .hire-us p.quote{
    font-size: 20px;
    word-spacing: 2px;
  }

  .form-more{
    max-width: calc(100vw - 100px);
    height: 75px;
  }

  /* Footer */
  footer{
    padding: 0px 180px 40px 100px;
  }

  .footer-a{
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 50px;
  }

  .footer-a section{
    grid-column: span 1;
  }

  .footer-a section:nth-child(1){
    grid-column: span 2;
  }

  .footer-b{
    flex-direction: column;
    gap:20px;
  }

  .footer-c{
    text-align: left;
  }

  .footer-a .contact i, 
  .footer-a .contact .fine-print, 
  .footer-a section ul li a,
  .footer-b {
    font-size: 16px;
  }
}

/* @media screen and (max-width: 767px){

} */