/* Header */
header{
  background-color: #FEFDFC;
  z-index: 100;
}

.header-demo, header nav{
  display:flex;
}

.header-demo{
  padding-bottom:var(--size-20);
}

.header-demo > a > .fa-angle-left{
  padding-right: var(--size-5); 
}

.header-demo a:nth-child(2),
.header-demo a:nth-child(3){
  padding-left: var(--size-10);
}

.header-demo a span.fa-angle-down{
  padding-left: var(--size-5);
}

header nav img{
  max-width: 8.43rem;
}

.dir-item{
  display:inline-block;
  padding-left: var(--size-20);
}

.dir-item.btn{
  margin-left: var(--size-20);
  font-weight: 600;
}

/* Showcase */
.showcase{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.intro{
  padding-right: 0 var(--size-40);
}

.container div.intro p{
  font-size: 24px;
  padding: 0 0 var(--size-20);
  text-align: left;
}

.intro .btn{
  margin-right: var(--size-24);
}

.intro-icons{
  display:grid;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  gap: 20px;
  padding-left: 50px;
}

.intro-icons .intro-icon-wrapper:nth-child(2){
  position:relative;
  top: 40px;
  right: 36px;
}

.intro-icons .intro-icon-wrapper:nth-child(3){
  position:relative;
  top: 20px;
}

.intro-icons .intro-icon-wrapper:nth-child(5){
  position:relative;
  left: 36px;
}

.intro-icons .intro-icon-wrapper:nth-child(6){
  grid-column: 2 / 2;
  position:relative;
  right: 50px;
  bottom: 35px;
}

.intro-icon-wrapper img{
  height:36px;
  width: 36px;
  padding: 16px;
  display:block;
  margin:auto;
}

img.google-icon{
  height:24px;
  width: 24px;
  padding: 10px;
}

.intro-icon-wrapper{
  width: fit-content;
  height:fit-content;
  margin: 5px;
  border-radius: 100%;
  background-color: white;
  justify-self: right;
}

/* Key Benefits */
.benefit-card-group{
  display:grid;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.benefit-card{
  padding: 20px;
  position: relative;
}

.benefit-card h3{
  display:inline-block;
}

.benefit-card p{
  margin: 0;
  padding: 10px 0 40px;
}

.benefit-card a{
  position: absolute;
  bottom: 20px;
}

.benefit-card .desc-tag{
  background-color: var(--accent);
  color: white;
}

/* Perspectives */
.perspectives{
  display:flex;
  background-color: #d5d5d5;
  gap: 50px;
  padding-top: 75px;
}

.perspective-info{
  padding-left: 40px;
  align-self: center;
}

.perspective-info h3{
  flex: 1;
  margin-bottom: 40px;
  font-size: 24px;
}

.perspectives img{
  align-self: flex-end;
  min-width:0;
  width: 150%;

}

/* Why Front */
.why-front img{
  max-width: 80%;
  display:block;
  margin:auto;
}

.why-icon-layout{
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.fa-circle{
  color: var(--primary);
  font-size: 5px;
  position:relative;
  bottom: 4px;
  left: 5px;
}

.why-icon-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.why-icon-wrapper p{
  text-align: center;
}

.why-bubble{
  display:block;
  margin:auto;
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  padding: 16px;
  background-color: var(--light-blue);
}

.connector{
  width:120px;
  border-top: 2px solid var(--light-blue);
  position: relative;
  bottom: 10px;
}

div.why-icon-wrapper p.why-word{
  padding: 0;
  text-align: center;
  margin: 0;
  flex-wrap: nowrap;
  overflow: visible;
  word-wrap: none;
  color: var(--font-dark);
  font-weight: bold;
}

/* Testimonials */
.tes-1{
  display:flex;
  gap: 100px;
  padding: 0 50px 150px;
}

.tes-1-img-wrapper{
  position: relative;
}

.tes-1-img img:nth-child(1){
  width: 400px;
  position: relative;
  left: 40px;
  bottom: 40px;
  z-index: 2;
}

.tes-1-img img:nth-child(2){
  max-width: 200px;
  position:absolute;
  bottom: 0;
  left: 0;
  z-index:1;
}

.tes-1-content{
  align-self: center;
  padding-right: 100px; 
}

.tes-1 div.tes-1-content p:nth-child(2){
  padding: 0;
  text-align: left;
  font-size: 24px;
}

.tes-1 div.tes-1-content p.fine-print,
.tes-1-content h4{
    margin: 0;
}

.tes-1-content img:nth-child(1){
  width: 100px;
}

.tes-logo-wrapper{
  display:flex;
  justify-content: center;
  gap: 150px;
  padding-top: 40px;
}

.tes-logo-wrapper img{
  max-width: 7rem;
}

/* Pricing */
.pricing div.price-card h2{
  padding: 0;
  text-align: left;
  display:inline-block;
  font-size: 60px;
}

.price-card h4{
  display: inline;
  margin: 0;
  font-weight:500;
}

.price-card p{
  margin-bottom: var(--size-20);
}

.price-card hr{
  margin: var(--size-24) 0;
}

.price-card p:nth-child(6){
  font-size: 10px;
  padding-top: 10px;
  color: var(--font-dark);
}

.pricing-content-wrapper{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.price-card{
  grid-row: span 3;
  grid-column: span 4;
  margin: 30px;
  padding: 30px;

}

.features-card{
  grid-row: span 2;
  grid-column: span 3;
  padding: var(--size-20);
}

div.features-card img{
  filter: drop-shadow(-5px 5px 2px var(--shadow))
}

.price-card div.btn{
  margin-top: var(--size-64);
  max-width: fit-content;
}

/* Hire Us */
.hire-us{
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  color: white;
  background: url("../assets/abstract/hire-us-transparent-pattern-bg.svg");
  background-color: var(--dark-navy);
  padding: 40px 80px;
  overflow:auto;
}

.hire-us-header{
  padding: 150px 75px;
}

div.hire-us div.hire-us-header h2,
div.hire-us div.hire-us-header p{
  padding: 0px 0px var(--size-14);
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.hire-us hr{
  margin: 10px 0 20px;
  max-width: 200px;
  text-align: left;

}

.hire-us-form{
  padding: 30px 30px 50px;
  margin: 0px;
  background-color: white;
  grid-column-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-areas:
  "  .      .  "
  "Title  Title"
  "First  Last"
  "Email  Site"
  "Budget Country"
  "More   More"
  "Market Market"
  "Button Button";
}

.hire-us p.quote{
  font-size: 18px;
  font-style: italic;
}

.form-title{
  grid-area: Title;
  color: var(--font-dark);
  text-align: left;
}

.form-first{
  grid-area: First;
}

.form-last{
  grid-area: Last;
}

.form-email{
  grid-area: Email;
}

.form-site{
  grid-area: Site;
}

.form-budget{
  grid-area: Budget;
}

.form-country{
  grid-area: Country;
}

.form-more{
  grid-area: More;
  font-size: 16px;
  padding: 5px;
}

.form-market{
  grid-area: Market;
  padding: 25px 5px;
  display:flex;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

.form-button{
  grid-area: Button;
}

.hire-us-form h3{
  font-weight: bold;
}

.hire-us-form input, .hire-us-form select{
  padding: 0 var(--size-5);
  font-size: var(--size-16);
  max-height: 50px;
}

.form-market .fine-print{
  padding-right: 20px;
}

.hire-us-form .btn{
  border-radius: initial; 
  color: white;
  margin: 0px 20px;
}